<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/msys</property>
    <property name="connection.username">root</property>
    <property name="connection.password">123456</property>

    <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
    </property>

    <property name="hibernate.format_sql">true</property>

    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">1</property>

    <!-- SQL dialect -->
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">false</property>

    <!-- Drop and re-create the database schema on startup -->
    <property name="hbm2ddl.auto">create</property>
    
    <mapping class="fudan.plus1.Implementations.User"/>

    <!-- DB schema will be updated if needed -->
    <!-- <property ename="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>